<div class="my-5 row justify-content-center">
    <h1 class="text-center mb-5"><%=title%></h1>
    <div class="card col-md-10">
        <div class="card-body row">
            <div class="col-md-4">
                <img src="<%=info.thumbnail%>" alt="">
            </div>
            <div class="col">
                <h5><%=info.title%></h5>
                <hr>
                <div class="col">
                    <div> 가격 : <%=info.price%> </div>
                    <div> 저자 : <%=info.authors%> </div>
                    <div> 출판사 : <%=info.publisher%></div>
                    <div> isbn : <%=info.isbn%></div>
                    <button class="btn btn-warning">장바구니</button>
                    <button class="btn btn-danger">바로구매</button>
                </div>
            </div>
            <hr>
            <div> : <%=info.contents%></div>

        </div>
    </div>

</div>